aside {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background-color: #f3f3f3;
    color: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: left 0.3s ease-out;
}

:host([open]) aside {
    left: 0;
}

aside header {
    position: relative;
}

header button {
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
}

header button:hover {
    color: rgba(0, 0, 0, 1.26);
    background-color: rgba(256, 256, 256, 2.26);
}
header h1{
    background-color: rgba(0, 0, 0, 1.26);
    color: #ffffff;
    line-height: 40px;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

@media (min-width: 415px) {
    aside{
        max-width: 50%;
    }
}
