.container {
    border-radius: 6px;
    border: 2px solid #2b2828;
    color: black;
    padding: 10px;
    font-family: sans-serif;
}

ul {
    margin-left: 0;
    padding: 0;
}
.search-item {
    list-style: none;
}

.search-item li {
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 0.15rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.search-item li:hover,
.search-item li:active {
    background-color: rgb(110, 16, 110);
    color: rgb(177, 241, 177);
}

.btn {
    padding: 5px;
    background-color: rgb(67, 67, 233);
    color: rgb(240, 237, 232);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(6, 6, 133);
    color: white;
}